
.auth-form {
  min-width: 31rem;
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem;
  border-radius: 5px;
  background-color: var(--white-color);
  font-family: var(--font-family);
  font-size: 1.4rem;
  
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      color: rgb(9, 0, 73);
    }
  }
  
 input {
   width: 100%;
   padding: 0.2rem;
   border: none;
   border-bottom: 0.1rem solid var(--gray-color);
   background-color: var(--white-color);
   outline: none;
 }

 form {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;

    div {
      display: flex;
       svg {
        margin-left: -1.2rem;
      }
    }
  }

 .login-pass {
   margin-top: 0.5rem;
   align-items: center;
   justify-content: space-between;
   font-size: 1.2rem;
  
   input {
    width: max-content;
    margin: 0.4rem;
   }
   a {
    color: rgb(121, 121, 255);
    text-decoration: none;
   }
 }

 button {
  max-width: max-content;
  margin-top: 1.5rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  background-color: var(--primary-color);
  cursor: pointer;
 }

 .switch-btn {
  padding: 0.1rem 0;
  color: #828282;
  background: none;
  text-decoration: underline;
 }

 svg {
  vertical-align: middle;
 }
};